html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #111;

}

.wrapper {
	margin: 0 20px ;
}

h1 {
	font-size: 36px;
	margin: 25px 0;
}

/*Navigation*/

.navbar {
	position: fixed;
	width: 100%;
	color: #111;
	/*margin-top: 0;*/
}
.navbar-brand {
	/*display: block;*/
	width: 100%;
	/*clear: right;*/
	float: left;
}
.navbar-links {
	width: 100%;
	/*float: right;*/
	/*clear: left;*/
	padding-right: 40px;
	/*margin: 10px 0;*/
	text-transform: uppercase;
}
.navbar-links > li {
	float: right;
	display: inline-block;
	margin-right: 15px;
	font-size: 22px;
}
.navbar-links > li:hover {
	text-decoration: underline;
}
.years {
	/*position: relative;*/
	display: block;
	float: left;
	/*border: 1px solid red;*/
	margin-top: -20px;
	margin-left: -15px;
}
.years > li {
	/*display: block;*/
	padding-top: 5px;
}

/*Works Page*/

.works {
	padding-top: 100px;
	padding-left: 17%;
}

.item > img {
	width: calc(83vw - 10px);
	max-width: 500px;
	/*max-height: 800px;*/
}

.item {
	margin-bottom: 420px;
}