.navbar-brand > h4 {
	margin-top: 0px;
}

.contact {
	margin-bottom: 30px;
}

.contact-title {
	margin-bottom: 55px;
}

.contact-subtitle {
	margin-bottom: 20px;
}

.contact a {
	color: #777;
}
.address {
	margin-bottom: 20px;
	text-align: center;
}

.wrapper > .about {
	padding: 100px;
}

.year {
	text-align: right;
}